<ul class="dropdown-menu">
  <li><a href="{{ site.baseurl }}/">Home</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="{{ site.baseurl }}/all">Language-Independent Guidelines</a></li>
  <li><a href="{{ site.baseurl }}/curly">“Curly-Brace” Languages</a></li>
  <li><a href="{{ site.baseurl }}/c">&nbsp;&nbsp;&nbsp;C</a></li>
  <li><a href="{{ site.baseurl }}/java">&nbsp;&nbsp;&nbsp;Java</a></li>
  <li><a href="{{ site.baseurl }}/javascript">&nbsp;&nbsp;&nbsp;JavaScript</a></li>
  <li><a href="{{ site.baseurl }}/web">Web Technologies</a></li>
  <li><a href="{{ site.baseurl }}/html">&nbsp;&nbsp;&nbsp;HTML</a></li>
  <li><a href="{{ site.baseurl }}/css">&nbsp;&nbsp;&nbsp;CSS</a></li>
  <li><a href="{{ site.baseurl }}/python">Python</a></li>
  <li><a href="{{ site.baseurl }}/ruby">Ruby</a></li>
</ul>
